main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.product img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.buttons {
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
    transition: 0.3s;
}

button.buy {
    background-color: #4CAF50;
    color: white;
}

button.buy:hover {
    background-color: #45a049;
}

button.cart {
    background-color: #f39c12;
    color: white;
}

button.cart:hover {
    background-color: #e67e22;
}
